version: "3.9"

services:
  backend:
    build:
      context: ./backend
    container_name: b4w-backend
    ports:
      - "8002:8002"
    environment:
      SECRET_KEY: harleyisschmoobs
      ALGORITHM: HS256
      ACCESS_TOKEN_EXPIRE_MINUTES: 10080
      DATABASE_URL: postgresql://hunterMo:Harleyiscool43!@100.104.46.98:5432/b4w_test
      S3_ENDPOINT_URL: https://storage.battleforwordle.com
      S3_PUBLIC_ENDPOINT_URL: https://storage.battleforwordle.com
      S3_BUCKET: b4w-test-assets
      S3_ACCESS_KEY_ID: 6567898765434567
      S3_SECRET_ACCESS_KEY: 987654edfyuiki987yt54e3wertyu
      S3_PUBLIC_BASE_URL: https://storage.battleforwordle.com/b4w-test-assets
    volumes:
      - $PWD:/db

  frontend:
    build:
      context: ./frontend
    container_name: b4w-frontend
    ports:
      - "3002:3002"
  
  caddy:
    image: caddy:latest
    container_name: caddy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - $PWD/Caddyfile:/etc/caddy/Caddyfile:ro
