.keyboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding: 0 8px; /* horizontal breathing room */
    box-sizing: border-box;
  }
  
  .keyboard-row {
    display: grid;
    width: 100%;
    gap: 6px;
    margin: 6px 0;
    
  }
  
  /* Row-specific column templates */
  .keyboard-row:nth-child(1) {
    grid-template-columns: repeat(10, 1fr);
  }
  
  .keyboard-row:nth-child(2) {
    grid-template-columns: 0.5fr repeat(9, 1fr) 0.5fr;
  }
  
  .keyboard-row:nth-child(3) {
    grid-template-columns: 1.5fr repeat(7, 1fr) 1.5fr;
  }
  
  .keyboard-key {
    font-size: clamp(0.75rem, 1.8vw, 1rem);
    font-weight: bold;
    height: 46px;
    background-color: #666;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
    min-width: 0; /* important for small screens */
    padding: 0;
  }
  
  
  /* Coloring */
  .keyboard-container .keyboard-key.correct { background-color: #538d4e; }
  .keyboard-container .keyboard-key.present { background-color: #b59f3b; }
  .keyboard-container .keyboard-key.absent  { 
    background-color: #3d3d4e69;
    color: rgba(255, 255, 255, 0.467);
   }
  .keyboard-container .keyboard-key:not(.correct):not(.present):not(.absent) {
    background-color: #d1cfc4; /* or whatever you want */
    color: #000000;
  }


  