.main-landing {
    background: url('../assets/landing_portrait.png') no-repeat center top fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-family: 'Cinzel', serif;
    padding-bottom: 5vh;
  }
  
  .landing-overlay {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.65);
    padding: 40px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 0 20px rgba(255, 215, 0, 0.2);
    opacity: 0;
  animation: fadeInOverlay 1.5s ease-out forwards;
}



@keyframes fadeInOverlay {
  to {
    opacity: 1;
  }
}
  
  .join-btn {
    background-color: #ba8c44;
    border: 2px solid #d4af37;
    color: #fff;
    font-size: 1.3rem;
    padding: 14px 28px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-family: 'Cinzel', serif;

  }
  
  .join-btn:hover {
    background-color: #d4a954;
    transform: scale(1.05);
  }
  
  /* Desktop override: use landscape version */
@media (min-width: 601px) {
    .main-landing {
      background: url('../assets/landing_landscape.png') no-repeat center center fixed;
      background-size: cover;
      align-items: center; /* optional: center vertically again */
      padding-bottom: 0;
    }
  }