.letter-box.jester-dance {
  animation-name: jester-dance;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes jester-dance {
  0% { transform: translate(0, 0) rotate(0deg); }
  20% { transform: translate(1px, -2px) rotate(2deg); }
  40% { transform: translate(-2px, 1px) rotate(-2deg); }
  60% { transform: translate(2px, 2px) rotate(1.5deg); }
  80% { transform: translate(-1px, -1px) rotate(-1deg); }
  100% { transform: translate(0, 0) rotate(0deg); }
}
